<h1>All transactions in a Warehouse</h1>

In [25]:
import requests
from IPython.display import display, HTML
import pandas as pd

def generate_graph(wid):
    # Query Route
    flask_url = f'http://127.0.0.1:5000/database-delinquents/transaction/warehouse/{wid}'
    response = requests.get(flask_url)
    return response

# Fetch data and create DataFrame
df = pd.DataFrame(generate_graph(2).json()['transactions'])

display(df)

,date,pid,qty,tid,total,type,uid,wid
0,"Mon, 20 Nov 2023 00:00:00 GMT",1,10,131,59.90,incoming,1,2
1,"Sun, 19 Nov 2023 00:00:00 GMT",3,100,89,0.00,exchange-receiver,14,2
2,"Sun, 03 Dec 2017 00:00:00 GMT",3,400,86,0.00,exchange-sender,14,2
3,"Wed, 30 Dec 2009 00:00:00 GMT",6,100,72,28.42,outgoing,7,2